@import '~antd/lib/style/themes/default.less';

.root {
  display: flex;
  flex-direction: column;

  .menuOutlined {
    position: absolute;
  }

  .header {
    display: flex;
    align-self: center;
    margin-top: 14px;
    width: 104px;
    height: 16px;
    font-family: Muli-Regular_;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #000000;
  }
}
