.deleteDrawer {
  font-family: OpenSans;

  :global(.ant-drawer-content-wrapper) {
    height: 35% !important;
    padding: 12px;
    box-shadow: none !important;
  }

  :global(.ant-drawer-header) {
    border: 0px;
  }

  :global(.ant-drawer-footer) {
    text-align: right;
    border: 0px;
  }
}
