.newService {
  background-color: black;
  color: white;
  margin: 0px 10px 0px 10px;

  &:hover {
    color: white;
    background-color: black;
  }
}

.service {
  transform: none !important;
  font-family: Roboto;

  label {
    font-size: 12px;
    color: #888888;
  }

  :focus {
    box-shadow: none;
    border-color: black;
  }

  :hover {
    border-color: black !important;
  }

  :global(.ant-drawer-header) {
    border: 0px;
    text-align: center;
    font-weight: 500;
    color: black;
  }

  :global(.ant-drawer-close) {
    color: black;
  }

  :global(.ant-select-focused) {
    :global(.ant-select-selector) {
      box-shadow: none !important;
      border-color: black !important;
    }
  }

  :global(.ant-input-number) {
    width: 100%;

    &:global(.ant-input-number-focused) {
      box-shadow: none;
      border-color: black;
    }

    > :first-child {
      display: none;
    }
  }

  .addService {
    width: 100%;
  }

  :global(.ant-row.ant-form-item.ant-form-item-hidden) {
    display: none;
  }
}
